/* All styles for your Card Components live here */
#banner {
    width: 300px;
    height: 180px;
};

#flexContent {
    display: flex;
    width: 50px;

};

.cardText {
    font-size: 20px;
};

.grey {
    color: grey;
};

#cardTitle {
    font-weight: bold;
    font-size: 12px;
};